@font-face {
	font-family: 'Arial';
	src: url('/PDFfiller/fonts/Arial.eot');
	src: local('Arial'), local('Arial'),
		url('/PDFfiller/fonts/Arial.eot?#iefix') format('embedded-opentype'),
		url('/PDFfiller/fonts/Arial.woff') format('woff'),
		url('/PDFfiller/fonts/Arial.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


@font-face {
	font-family: 'Arial';
	src: url('/PDFfiller/fonts/Arial-Bold.eot');
	src: local('Arial-Bold'), local('Arial-Bold'),
		url('/PDFfiller/fonts/Arial-Bold.eot?#iefix') format('embedded-opentype'),
		url('/PDFfiller/fonts/Arial-Bold.woff') format('woff'),
		url('/PDFfiller/fonts/Arial-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Apple Symbols';
	src: url('/PDFfiller/fonts/Apple-Symbols.ttf');
	src: local('Arial-Bold'), local('Arial-Bold'),
		url('/PDFfiller/fonts/Apple-Symbols.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}